.ucf-post-list.card-layout {
  .ucf-post-list-card-link {
    height: 100%;
    text-decoration: none;

    @media (max-width: 767px) {
      display: flex;
      flex-direction: row;
    }

    &:hover,
    &:focus {
      .ucf-post-list-card-title {
        text-decoration: underline;
      }
    }
  }

  .ucf-post-list-thumbnail-image {
    align-self: start;
    display: flex;
    flex: 0 0 60px;
    height: auto;
    margin-bottom: .8rem;
    margin-left: .8rem;
    margin-top: .8rem;
    max-width: 60px;

    @media (min-width: 576px) {
      flex: 0 0 80px;
      max-width: 80px;
    }

    @media (min-width: 768px) {
      flex: 0 0 100%;
      margin: 0;
      max-width: 100%;
      width: 100%;
    }
  }

  .ucf-post-list-card-title {
    font-size: .9rem;
    font-weight: 500;
    margin-bottom: 0;
    padding: .8rem;

    @media (min-width: 1200px) {
      font-size: 1rem;
    }
  }

  .ucf-post-list-card-text {
    color: $gray;
    font-size: .75rem;
    font-style: italic;
    font-weight: normal;
    padding: 0 .8rem .8rem;

    @media (min-width: 1200px) {
      font-size: .85rem;
    }
  }

  .ucf-post-list-excerpt-text {
    color: black;
    font-style: normal;
  }

  .ucf-post-list-card-deck {
    @media (min-width: 768px) {
      display: flex;
      flex-flow: row wrap;
    }

    .ucf-post-list-card:not(:last-child) {
      @media (min-width: 768px) {
        margin-right: 15px;
      }
    }

    .ucf-post-list-card {
      @media (min-width: 768px) {
        display: flex;
        flex: 1 0 0;
        flex-direction: column;
      }
    }
  }

  .ucf-post-list-card {
    background-color: $white;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: 0;
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem;
    position: relative;

    a {
      color: $black;
    }
  }
}
